/*공통*/
@charset "UTF-8";

.slide-wrap{width:100%;border:1px solid #000;}
.slide-wrap .slide-container{width:100%;overflow:visible;display:block;}
.slide-wrap .slide-container .slide{width:100%;position:absolute;z-index:1;top:0;display:block;box-sizing:border-box;margin:0;padding:0;}
.slide-wrap .slide-container .slide img{width:100%;display:block;position:relative;}

.slide-wrap .indicator{display:table;background:rgba(0,0,0,0);position:absolute;bottom:5%;margin-left:50%;z-index:2;}
.slide-wrap .indicator .bulet{display:table-cell;box-sizing:border-box;color:#ccc;vertical-align:middle;text-align:center;cursor:pointer;}

.slide-wrap .con-btn{width:7%;height:100%;position:absolute;z-index:2;top:0px;cursor:pointer;}
.slide-wrap #prev-btn{left:0px;background:rgba(0,0,0,0) url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23202020'%2F%3E%3C%2Fsvg%3E") no-repeat center;}
.slide-wrap #next-btn{right:0px;background:rgba(0,0,0,0) url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23202020'%2F%3E%3C%2Fsvg%3E") no-repeat center;}

@media all and (max-width:320px){
	.indicator{width:50%;height:15%;left:-25%;font-size:0.5em;line-height:0.5em;}
}
@media all and (min-width:321px) and (max-width:480px){
	.indicator{width:50%;height:15%;left:-25%;font-size:0.5em;line-height:0.5em;}
}
@media all and (min-width:481px) and (max-width:640px){
	.indicator{width:50%;height:15%;left:-25%;font-size:0.5em;line-height:0.5em;}
}
@media all and (min-width:641px) and (max-width:720px){
	.indicator{width:25%;height:7.5%;left:-12.5%;font-size:0.8em;line-height:0.8em;}
}
@media all and (min-width:721px) and (max-width:1080px){
	.indicator{width:25%;height:7.5%;left:-12.5%;font-size:0.8em;line-height:0.8em;}
}
@media all and (min-width:1081px) and (max-width:1280px){
	.indicator{width:25%;height:7.5%;left:-12.5%;font-size:0.8em;line-height:0.8em;}
}
@media all and (min-width:1281px) and (max-width:1500px){
	.indicator{width:25%;height:7.5%;left:-12.5%;font-size:1em;line-height:1em;}
}
@media all and (min-width:1501px){
	.indicator{width:25%;height:7.5%;left:-12.5%;font-size:1em;line-height:1em;}
}
